<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<div th:unless="${user.isAuth}">
    <p>Приветствуем, гость.</p>
    <form action="reg">
        <button>Зарегистрироваться</button>
    </form>
    <form action="auth">
        <button>Авторизоваться</button>
    </form>
</div>
<div th:if="${user.isAuth}">
    <p th:text="'Приветствуем, '+ ${user.username}"></p>
    <form action="searchTour">
        <input type="hidden" name="page" value="1">
        <button type="submit">Найти тур</button>
    </form>
    <p th:text="${reservationMessage}"></p>
    <div th:each="userReservation : ${userReservations}">
        <p th:text="'Название тура: '+${userReservation.tourName}"></p>
        <p th:text="'Цена: '+${userReservation.price}"></p>
        <p th:text="'Количество взрослых: '+${userReservation.numOfAdults}"></p>
        <p th:text="'Количество детей: '+${userReservation.numOfChildren}"></p>
        <p th:text="'Начало тура: '+${userReservation.date}"></p>
        <p th:text="'Количество дней в туре: '+${userReservation.numOfDays}"></p>
        <p th:text="'Откуда: '+${userReservation.town}"></p>
        <p th:text="'Статус заявки: '+${userReservation.status}"></p>
        <p>=========================================================</p>

    </div>
</div>

</body>
</html>