<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение email</title>
</head>
<body>
<div th:unless="${user.isAuth}">
    <div th:if="${user.registrationCode!=null}">
    <form method="post" th:object="${user}">
        <input th:field="*{userInputCode}">
        <button type="submit">Подтвердить</button>
    </form>
        <p th:text="${validationEmailCode}"></p>
    </div>
    <div th:if="${user.registrationCode==null}">
        <p>Ой, вас тут быть не должно... Сначала начните процесс регистрации!</p>
    </div>
</div>
</body>
</html>