<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<p>Зарегистрируйтесь, чтобы стать частью сообщества!</p>
<form method="post" th:object="${user}">
    <br>
    <p>Имя</p>
    <input th:field="*{username}" placeholder="Имя">
    <br>
    <p>Пароль</p>
    <input th:field="*{pass}" placeholder="Пароль">
    <br>
    <p>Email</p>
    <input th:field="*{email}" placeholder="example@gmail.com">
    <button type="submit">Зарегистрироваться</button>
    <p th:text="${valid}"></p>
</form>
</body>
</html>